.button {
    position: relative;
    color: white;
    background-color: rgb(238, 98, 107);
    border-radius: 50px;
    text-decoration: none;
    padding: 8px 25px 10px 25px;
    text-align: center;
}

.buttonSearch {
    right: 140px;
    bottom: 1px;
}